body{margin-left: 20px}
}
.img1{
	display: inline-block;
	vertical-align: top;
}
li{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	padding: 20px;
	color: #3d58a6;
}
.my27{
	font-size: 36px;
	width: 56px;
	height: 56px;
	color: white;
	background-color: #3d58a6;
	padding: 8px;
}
.div1{
	font-size: 20px;
	color: #3d58a6;
	margin-bottom: 20px;
}
.p1{
	display: inline-block;
	width: 930px;
	height: 360px;	
	vertical-align: top;
	margin-top: 20px;

}
.img2{
	display: inline-block;
	vertical-align: top;
}
.div2{
	display: inline-block;
	width: 3px;
	height: 28px;
	background-color: #363e97;
}

}
.fb1{
	margin-left: 20px;
}
.yt{
	margin-left: 10px;
}
.active{
	color: #ee4036;
}
.pages2{
	
}
h2{
	color: #000000;
	margin-top: 50px;
	margin-bottom: 50px;

}
.card1{
	vertical-align: top;
	display: inline-block;
	background-color: #f2f2f2;
	font-size: 20px;
	padding: 0px 500px 0px 50px;
	width: 400px;

}
.p2{
	display: inline-block;
	font-size: 20px;
	height: 100px;
	width: 400px;

}
.card2{
	vertical-align: top;
	display: inline-block;
	background-color: #f2f2f2;
	font-size: 20px;
	width: 400px;
}
.p3{
	display: inline-block;
	width: 400px;
	height: 100px;

}
h3{
	color: #3d58a6;
}